.log {
	.title {
		text-transform: lowercase;
	}
	.canvas-wrapper {
		@include leader(10);
		@include trailer(5);
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	#fft {
		background: $orange;

	}
	.log-contents {
		position: relative;
		#letters {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	audio {
		display: none;
	}
	#controls {
		@include leader(5);
		text-transform: uppercase;
		@include adjust-font-size-to(map-get(map-get($text-map, 'medium'), font-size), $lines: 10);
		* {
			display: inline-block;
		}
		#toggler {
			cursor: pointer;
			margin-right: 10px;
			border: solid 2px $dark-blue;
			@include border-radius(5px);
			padding: 0 rhythm($lines: 3, $font-size: map-get(map-get($text-map, 'medium'), font-size));
		}
	}
}
