.log {
	.header .blurb {
		@extend .body-large-text;
	}
	.header {
		text-align: right;
	}
	.title {
		text-transform: lowercase;
	}
	.slider {
		.label {
			font-family: Brandon;
			color: #888;
			text-transform: lowercase;
			font-style: italic;
			font-size: 26px;
			display: inline-block;
		}
		.bar {
			position: relative;
			display: inline-block;
		  width: 120px;
		  @include background-image(linear-gradient(to right, rgba($orange, 0.1), rgba(red, 0.1)));
		  background-image: rgba($orange, 0.1);
		  height: 20px;
		  vertical-align: top;
		  margin-left: 5px;
		  .highlight {
		  	position: absolute;
				width: 7px;
				height: 100%;
				background: $orange;
		  }
		}
	}
	.canvas-wrapper {
		@include leader(3);
		margin-left: auto;
		margin-right: auto;
		position: relative;
		canvas {
			@include transform(scale(0.5));
			transform-origin: top left;
			-webkit-transform-origin: top left;
		}
	}
	#fft {
		background: $orange;

	}
	.log-contents {
		position: relative;
		#letters {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	audio {
		display: none;
	}
	#previous, #next {
		&[href="#log/"] {
			pointer-events: none;
			opacity: 0.2;
		}
		svg {
			width: 50px;
			height: 50px;
			@include border-radius(50%);
			border: solid 2px $dark-blue;
			path {
				stroke: $dark-blue;
				@include transform(translate3d(9px, 8px, 0) scale(.9));
			}
		}
	}
	#controls {
		@include leader(5);
		text-transform: uppercase;
		@include adjust-font-size-to(map-get(map-get($text-map, 'medium'), font-size), $lines: 10);
		* {
			display: inline-block;
		}
		#toggler {
			cursor: pointer;
			margin-right: 10px;
			border: solid 2px $dark-blue;
			@include border-radius(5px);
			padding: 0 rhythm($lines: 3, $font-size: map-get(map-get($text-map, 'medium'), font-size));
		}
	}
}
