.log {
	#fft {
		background: $orange;
	}
	.log-contents {
		position: relative;
		canvas {
			position: absolute;
			left: 0;
			top: 0;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
	audio {
		visibility: hidden;
	}
	#controls {
		text-transform: uppercase;
		@extend .large-text;
		* {
			display: inline-block;
		}
		#toggler {
			font-weight: 800;
			margin-right: 5px;
			cursor: pointer;
		}
		#time {
			font-weight: 300;
			color: lighten($gray, 15%);
		}
	}
}
