#project-oughtness {
  @extend %linked-project-page;
  #screenshot {
    padding-top: 8.2%;
    #image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../images/project_storiesof/hero.jpg');
      background-size: cover;
    }
  }
}