#project-oughtness {
  @extend %video-project-page;
  .chrome {
    width: 60vw;
  }
  .contents {
    padding-top: 66.7%;
  }
  .caveat {
    border-top: solid 1px $dark-blue;
    padding-top: 1rem;
    margin-top: 3rem;
    font-size: 0.75rem;
    line-height: 1.7;
  }
}