#project-oughtness {
  @extend %video-project-page;
  #screenshot {
    $image-width: 834px;
    $image-height: 612px;
    #image {
      background-image: url('../images/project_oughtness/hero.jpg');
      background-size: $image-width / 2 $image-height / 2;
      @include size($image-width / 2, $image-height / 2);
      margin-left: auto;
      margin-right: auto;
    }
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #EFEFEF;
  }
  .caveat {
    border-top: solid 1px $dark-blue;
    padding-top: 1rem;
    margin-top: 3rem;
    font-size: 0.75rem;
    line-height: 1.7;
  }
}