#project_index {
	li {
		.image {
			background-image: url(../images/projects_sprite.jpg);
			margin-left: auto;
			margin-right: auto;
			position: relative;
			@include trailer(5);
			@include mobile-only {
				background-image: url(../images/projects_sprite_mobile.jpg);
				@include trailer(4);
			}
		}
		&[data-project-id="food"] .image {
			width: 166px; 
			height: 125px;
			@include trailer(8);
			left: 5px;
			@include mobile-only {
				width: 106px;
				height: 78px;
				@include trailer(5);
				left: 6px;
			}
		}
		&[data-project-id="dancers"] .image {
			background-position: 0 -137px; 
			width: 178px; 
			height: 130px;
			@include trailer(8);
			@include mobile-only {
				background-position: 0 -82px;
				width: 106px;
				height: 78px;
				@include trailer(5);
			}
		}
		&[data-project-id="notes"] .image {
			background-position: 0 -593px; 
			width: 128px; 
			height: 174px;
			@include trailer(7);
			@include mobile-only {
				background-position: 0 -355px;
				width: 77px;
				height: 104px;
			}
		}
		&[data-project-id="pixels"] .image {
			background-position: 0 -787px; 
			width: 158px; 
			height: 112px;
			@include mobile-only {
				background-position: 0px -472px;
				width: 95px;
				height: 53px;
			}
		}
		&[data-project-id="straws"] .image {
			background-position: 0 -1051px; 
			width: 209px; 
			height: 128px;
			@include mobile-only {
				background-position: 0 -635px;
				width: 120px;
				height: 66px;
			}
		}
		&[data-project-id="leaves"] .image {
			background-position: 0 -418px; 
			width: 128px; 
			height: 169px;
			@include mobile-only {
				background-position: 0 -250px;
				width: 74px;
				height: 96px;
			}
		}
		&[data-project-id="hiveplot"] .image {
			width: 128px; 
			height: 126px;
			background-position: 0 -276px;
			left: 14px;
			@include mobile-only {
				width: 75px;
				height: 73px;
				background-position: 0 -167px;
				left: 7px;
			}
		}
		&[data-project-id="spotlights"] .image {
			background-position: 0 -900px; 
			width: 128px; 
			height: 142px;
			@include mobile-only {
				background-position: 0 -539px;
				width: 76px;
				height: 83px;
			}
		}
	}
}

#project-spinny {
	.project-contents {
		white-space: nowrap;
	}
	#triptych {
		margin: none;
		@include background-size(100% auto);
		background-position: -33.33% 0;
		background-image: url(../images/project_spinny/tryptich_composite.jpg);
		position: absolute;
		left: 50%;
		background-repeat: no-repeat;
		#spinny_globe {
			position: absolute;
		}
		[data-animatable] {
			background-repeat: no-repeat;
			// @include transition(all 250ms);
		}
		#phone_mask {
			background-image: url(../images/project_spinny/mask.png);
			background-repeat: no-repeat;
			position: absolute;
			z-index: 100;
			left: 43.57%;
			top: 80.5%;
			width: 7.7%;
			height: 18.5%;
		}
	}
}

#project-dancers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	.project-contents {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		@include leader(5);
		@include trailer(8);
		@include mobile-only {
			@include leader(2);
			@include trailer(4);
		}
		&:before {
			content: "";
			position: absolute;
			background-image: url(../images/floor.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 7%;
			left: 0;
			top: 70%;
			z-index: -1;
			opacity: 0.9;
		}
	}
	path {
		fill: none;
		stroke: $blue;
		stroke-width: 2;
	}
	.dancer {
		opacity: 0;
		@include transition(opacity 150ms);
		&.on {
			opacity: 1;
			@include animation(dancer 4s linear forwards);
		}
		&.active {
			opacity: 0.5;
		}
	}
}

@include keyframe(dancer) {
	3%, 3.5% {
		opacity: 1
	}
	5% {
		opacity: 0.2
	}
	15%, 100% {
		opacity: 0;
	}
}

#project-pixels {
	#movie, #border {
		margin-left: auto;
		margin-right: auto;
		svg {
			overflow: visible;
		}
		rect { 
			pointer-events: all;
		} 
	}
}

#project-leaves {
	canvas {
		position: relative;
		display: inline-block;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
		border-radius: 3px;
		cursor: move;
		&:not(:last-of-type) {
			margin-right: 10px;
		}
		&[id="canvas_0"] {
			visibility: hidden;
			@include size(0px, 0px);
		}
		&[id="canvas_5"] {
			background: darken(rgba(#CAFCFB, .9), 6%)
		}
		&[id="canvas_4"] {
			background: darken(rgba(#9AECEA, .9), 2%)
		}
		&[id="canvas_3"] {
			background: rgba(#6ADBD9, .9)
		}
		&[id="canvas_2"] {
			background: rgba(#3ACBC6, .9)
		}
		&[id="canvas_1"] {
			background: rgba(#0ABBB5, .9)
		}
	}
}
