#project_index {
	.image {
		@include square(125px);
		background-size: cover;
		border-radius: 50%;
		border: solid 1px $dark-blue;
		margin-bottom: 1.5rem;
		margin-left: auto;
		margin-right: auto;
	}
}

#project-fire {
	text-align: center;
	#frame {
		.row {
			white-space: nowrap;
			.cell {
				display: inline-block;
				margin-bottom: 5px;
				position: relative;
				&:not(:last-of-type) {
					margin-right: 7px;
				}
				.indicator {
					position: absolute;
					@include square(10px);
					@include border-radius(50%);
					background: $orange;
					bottom: -5px;
				}
				&[data-direction="1"] .indicator {
					left: -5px;
				}
				&[data-direction="-1"] .indicator {
					left: calc(100% - 5px);
				}
			}
		}
	}
}

#project-spinny {
	.project-contents {
		white-space: nowrap;
	}
	#triptych {
		margin: none;
		@include background-size(100% auto);
		position: absolute;
		left: 50%;
		background-repeat: no-repeat;
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			background: white;
			left: -10px;
			top: -10px;
			right: -10px;
			bottom: -10px;
			border: solid 3px $dark-blue;
		}
		#spinny_globe {
			position: absolute;
		}
		[data-animatable] {
			background-repeat: no-repeat;
		}
		#phone_mask {
			background-repeat: no-repeat;
			position: absolute;
			z-index: 100;
			left: 30.687%;
			top: 80.6%;
			width: 23%;
			height: 18.5%;
		}
		#globe_mask {
			background-repeat: no-repeat;
			position: absolute;
			z-index: 100;
			width: 59.6%;
			height: 69%;
			left: 30.284%;
			top: 4.283%;
		}
		#instructional {
			width: 44%;
			height: 13%;
			color: $white;
			pointer-events: none;
			position: absolute;
			top: 31%;
			right: 8%;			
			z-index: 100;
			svg {
				overflow: visible;
				position: absolute;
				&[id="svg_left"] {
					left: -10%;
					top: -100%;
					path {
						@include animation(spinny-svg-left 1.5s 0.3s forwards);
						stroke-dasharray: 250;
						stroke-dashoffset: 250;
					}
				}
				&[id="svg_right"] {
					right: -10%;
					top: 90%;
					path {
						@include animation(spinny-svg-right 1.5s 0.3s forwards);
						stroke-dasharray: 300;
						stroke-dashoffset: 300;
					}
				}
			}
			.cta {
				opacity: 0;
				@extend .large-text;
				@include animation(spinny-cta 1.5s 0.3s forwards);
			}
			path {
				opacity: 0;
				stroke: $white;
				fill: none;
				stroke-width: 2px;
				stroke-linecap: round;
			}
		}
	}
}

@include keyframe(spinny-cta) {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@include keyframe(spinny-svg-left) {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	55% {
		stroke-dashoffset: 0;
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

@include keyframe(spinny-svg-right) {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		stroke-dashoffset: 300;
	}
	50% {
		opacity: 1;
	}
	75% {
		stroke-dashoffset: 0;
	}
	85% {
		opacity: 1;
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

#project-dancers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	.project-contents {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		@include leader(5);
		@include trailer(8);
		@include mobile-only {
			@include leader(2);
			@include trailer(4);
		}
		&:before {
			content: "";
			position: absolute;
			background-image: url(../images/floor.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 7%;
			left: 0;
			top: 70%;
			z-index: -1;
			opacity: 0.9;
		}
	}
	path {
		fill: none;
		stroke: $blue;
		stroke-width: 2;
	}
	.dancer {
		opacity: 0;
		@include transition(opacity 150ms);
		&.on {
			opacity: 1;
			@include animation(dancer 4s linear forwards);
		}
		&.active {
			opacity: 0.5;
		}
	}
}

@include keyframe(dancer) {
	3%, 3.5% {
		opacity: 1
	}
	5% {
		opacity: 0.2
	}
	15%, 100% {
		opacity: 0;
	}
}

#project-pixels {
	.project-contents {
		margin-top: 3rem;
		margin-bottom: 1.5rem;
	}
	#movie, #border {
		margin-left: auto;
		margin-right: auto;
		svg {
			overflow: visible;
		}
		rect { 
			pointer-events: all;
		} 
	}
}

#project-leaves {
	canvas {
		position: relative;
		display: inline-block;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
		border-radius: 3px;
		cursor: move;
		&:not(:last-of-type) {
			margin-right: 10px;
		}
		&[id="canvas_0"] {
			visibility: hidden;
			@include size(0px, 0px);
		}
		&[id="canvas_5"] {
			background: darken(rgba(#CAFCFB, .9), 6%)
		}
		&[id="canvas_4"] {
			background: darken(rgba(#9AECEA, .9), 2%)
		}
		&[id="canvas_3"] {
			background: rgba(#6ADBD9, .9)
		}
		&[id="canvas_2"] {
			background: rgba(#3ACBC6, .9)
		}
		&[id="canvas_1"] {
			background: rgba(#0ABBB5, .9)
		}
	}
}
