$dark-blue: #00303e;
$blue: #7096ad;
$pale-blue: #c1d1de;
$gray: #93939C;
$white: #fff9ef;
$orange: #ec4911;

$color-background: $dark-blue;

$base-font-size: 16px;
$base-line-height: 5px;

$content-width: 600px;