#project-vista {
  @extend %video-project-page;
  .chrome {
    width: 60vw;
    max-width: 1280px;
    &:after {
      display: none !important;
    }
  }
  .contents {
    padding-top: 56%;
  }
  .cta-main {
    margin-top: 20px;
  }
  .caption {
    display: none;
  }
}