@import "compass";
@import "library";

$content-width: 600px;

body {
	font-family: Brandon;
	text-align: center;
	padding: 100px 0;
	font-weight: 500;
}

a {
	text-decoration: none;
}

$menu-top-buffer: 60px;
$menu-font-size: 44px;
$menu-line-height: 1.5;

#menu,
nav {
	width: $content-width;
	left: 50%;
	margin-left: -0.5 * $content-width;
}

#menu {
	top: 0;
	padding: $menu-top-buffer 0;
	position: fixed;
	z-index: 1;
	background: white;
	text-transform: uppercase;
	border-bottom: solid 2px black;
	.link {
		display: inline-block;
		position: relative;
		font-size: $menu-font-size;
		line-height: $menu-line-height;
		cursor: pointer;
		font-weight: 700;
	}
	#log:before {
		content: "";
		display: block;
		position: absolute;
		background-color: black;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		left: -43px;
		top: 28px;
		color: rgba(black, .2);
	}
	#log {
		margin-left: 75px;
	}
}

nav [id$="nav"],
#view {
	margin-top: $menu-top-buffer * 2 + $menu-font-size * $menu-line-height;
}

nav {
	position: fixed;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	background: white;
	-webkit-transform: translate(0, -100%);
	-webkit-transition: -webkit-transform 250ms;
	.open-nav & {
		-webkit-transform: translate(0, 0);
	}
	[id$="nav"] {
		display: none;
		width: 100%;
		&.active {
			display: block;
		}
		.link {
			padding: 25px 0;
			&:not(:last-of-type) {
				border-bottom: dashed 1px #ccc;
			}
		}
	}
}

// face animation

$frame-count: 25;
$duration: 2.5s;
$frame-height: 320px;

@include keyframe (face) {
	from {
		background-position: 0 -2px;
	}
	to {
		background-position: $frame-count * $frame-height * -1 -2px;
	}
}

#face {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -0.5 * $frame-height;
	@include size($frame-height, $frame-height - 2px);
	background-image: url(../images/aging-sprite.png);
	@include animation(face $duration steps($frame-count) infinite);
}








