$text-map: (
	small: (
		font-size: 15px,
		lines: 3
	),
	medium: (
		font-size: 19px,
		lines: 4
	),
	large: (
		font-size: 29px,
		lines: 7
	),
	extra-large: (
		font-size: 43px,
		lines: 10
	)
);

$mobile-text-map: (
	small: (
		font-size: 11px,
		lines: 3
	),
	medium: (
		font-size: 16px,
		lines: 4
	),
	large: (
		font-size: 21px,
		lines: 5
	),
	extra-large: (
		font-size: 30px,
		lines: 7
	)
);

$body-text-map: (
	small: (
		font-size: 12px,
		lines: 3
	),
	medium: (
		font-size: 15px,
		lines: 4.5
	),
	large: (
		font-size: 19px,
		lines: 7
	),
	extra-large: (
		font-size: 43px,
		lines: 10
	)
);

$mobile-body-text-map: (
	small: (
		font-size: 10px,
		lines: 2
	),
	medium: (
		font-size: 13px,
		lines: 4
	),
	large: (
		font-size: 18px,
		lines: 6
	),
	extra-large: (
		font-size: 22px,
		lines: 8
	)
);

@import "compass";
@import "library";
@import "projects";
@import "straws";
@import "food";
@import "notes";
@import "hiveplot";
@import "outloud";
@import "storiesof";
@import "oughtness";
@import "schelling";
@import "mirror";
@import "vista";
@import "wwit";
@import "log";
@import "electome";
@import "som";
@import "retweets";
@import "diffusion";
@import "clips";

@import url(//fonts.googleapis.com/css?family=Merriweather:400,300italic);

@include establish-baseline;

@each $text-size, $text in $text-map {
	.#{$text-size}-text {
		@include adjust-font-size-to(map-get(map-get($text-map, $text-size), font-size), map-get(map-get($text-map, $text-size), lines));
		@include mobile-only {
			@include adjust-font-size-to(map-get(map-get($mobile-text-map, $text-size), font-size), map-get(map-get($mobile-text-map, $text-size), lines));
		}
	}
}

@each $text-size, $text in $body-text-map {
	.body-#{$text-size}-text {
		font-family: Merriweather;
		@include adjust-font-size-to(map-get(map-get($body-text-map, $text-size), font-size), map-get(map-get($body-text-map, $text-size), lines));
		@include mobile-only {
			@include adjust-font-size-to(map-get(map-get($mobile-body-text-map, $text-size), font-size), map-get(map-get($mobile-body-text-map, $text-size), lines));
		}
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

* {
	@include box-sizing(border-box);
}

html {
	&:not(.loading) #loader {
		opacity: 0;
	}
	&.loading {
		#menu_wrapper, #view, #signature {
			opacity: 0;	
		}
	}
	overflow-x: hidden;
	max-width: 100%;
}

body {
	font-family: Brandon;
	text-align: center;
	font-weight: 500;
	padding: 0;
	margin: 0;
	@extend .small-text;
	color: $dark-blue;
}

#stash {
	visibility: hidden;
	position: absolute;
	@include square(0);
	overflow: hidden;
}

#signature {
	color: $gray;
	position: relative;
	display: inline-block;
	@include leader($lines: 30, $font-size: map-get(map-get($text-map, small), font-size));
	@include trailer($lines: 10, $font-size: map-get(map-get($text-map, small), font-size));
	@include mobile-only {
		@include leader($lines: 20, $font-size: map-get(map-get($mobile-text-map, small), font-size));
		@include trailer($lines: 5, $font-size: map-get(map-get($mobile-text-map, small), font-size));		
	}
}

#loader {
	@include transition(opacity 100ms);
	background: white;
	opacity: 1;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	pointer-events: none;
	.text {
		text-align: center;
		position: absolute;
		width: 100%;
		text-transform: uppercase;
		top: 50%;
		@include transform(translateY(-50%));
		@extend .extra-large-text;
		font-weight: 800;
	}
	.animation {
		top: 56%;
		top: calc(50% + 50px);
		left: 50%;
		left: calc(50% - 8px);
		@include mobile-only {
			top: 53%;
			top: calc(50% + 30px);
		}
		@include animation(loader10m 2s ease-in-out infinite);
		&, &:before, &:after {
			position: absolute;
			@include border-radius(50%);
			@include square(15px);
			@include mobile-only {
				@include square(10px);
			}
		}
		&:before, &:after {
			content: "";
			top: 0px;
		}
		&:before {
			left: -25px;
			@include animation(loader10g 2s ease-in-out infinite);
			@include mobile-only {
				left: -18px;
			}
		}
		&:after {
			left: 25px;
			@include animation(loader10d 2s ease-in-out infinite);
			@include mobile-only {
				left: 18px;
			}
		}
	}
}

@include keyframe (loader10g) {
	0%{background-color: rgba($blue, .2);}
	25%{background-color: rgba($blue, 1);}
	50%{background-color: rgba($blue, .2);}
	100%{background-color: rgba($blue, .2);}
}

@include keyframe (loader10m) {
	0%{background-color: rgba($blue, .2);}
	25%{background-color: rgba($blue, .2);}
	50%{background-color: rgba($blue, 1);}
	75%{background-color: rgba($blue, .2);}
	100%{background-color: rgba($blue, .2);}
}

@include keyframe (loader10d) {
	0%{background-color: rgba($blue, .2);}
	50%{background-color: rgba($blue, .2);}
	75%{background-color: rgba($blue, 1);}
	100%{background-color: rgba($blue, .2);}
}

#menu_wrapper, #view {
	@include transition(opacity 100ms);
	opacity: 1;
}

#menu_wrapper {
	@include trailer(14);
	@include leader(4);
	@include mobile-only {
		@include trailer(8);
		@include leader(2);
	}
	display: inline-block;
	#menu {
		text-transform: uppercase;
		.link {
			color: $dark-blue;
			@include border-radius(5px);
			display: inline-block;
			position: relative;
			@extend .small-text;
			font-weight: 500;
			@include padding-leader($lines: 2, $font-size: map-get(map-get($text-map, small), font-size));
			@include padding-trailer($lines: 2, $font-size: map-get(map-get($text-map, small), font-size));
			padding-left: rhythm($lines: 3, $font-size: map-get(map-get($text-map, small), font-size));
			padding-right: rhythm($lines: 3, $font-size: map-get(map-get($text-map, small), font-size));
			@include mobile-only {
				@include padding-leader($lines: 1.5, $font-size: map-get(map-get($mobile-text-map, small), font-size));
				@include padding-trailer($lines: 1.5, $font-size: map-get(map-get($mobile-text-map, small), font-size));
				padding-left: rhythm($lines: 2, $font-size: map-get(map-get($mobile-text-map, small), font-size));
				padding-right: rhythm($lines: 2, $font-size: map-get(map-get($mobile-text-map, small), font-size));
			}
			outline: none !important;
			&.active {
				color: rgba(white, 1);
				background: $color-background;
				margin: 0 rhythm($lines: 2, $font-size: map-get(map-get($text-map, small), font-size));
				@include mobile-only {
					margin: 0 rhythm($lines: 1, $font-size: map-get(map-get($mobile-text-map, small), font-size));
				}
			}
		}
	}
}

nav {
	@include content-width();
	margin: 0 auto;
	li {
		&:not(:first-of-type) a {
			@include padding-leader(8);
			@include mobile-only {
				@include padding-leader(6);
			}
		}
		a {
			border-bottom-color: lighten($gray, 20%);
			@include trailing-border($lines: 8, $border-style: dotted);
			@include mobile-only {
				@include trailing-border($lines: 6, $border-style: dotted);
			}
			border-bottom-width: 1px !important;
			display: inline-block;
			width: 100%;
			.title {
				@extend .large-text;
				font-size: 23px;
				color: $dark-blue;
				font-weight: 600;
				text-transform: uppercase;
				@include trailer($font-size: map-get(map-get($text-map, large), font-size), $lines: 1);
				@include mobile-only {
					font-size: 16px;
					@include trailer($font-size: map-get(map-get($mobile-text-map, large), font-size), $lines: 1);
				}
			}
			.description {
				@extend .body-medium-text;
				font-size: 14px;
				color: $color-body-text-gray;
				font-weight: 300;
				font-style: italic;
				@include mobile-only {
					font-size: 10px;
				}
			}
		}
	}
}

// details

.log,
.project,
#homepage {
	@include padding-trailer($lines: 20);
	@include mobile-only {
		@include padding-trailer($lines: 10);
	}
	.header,
	.caption {
		@include content-width();
		margin: 0 auto;
	}
	.description {
		margin: 0 auto;
		width: 50%;
		min-width: 600px;
		@include mobile-only {
			width: 80%;
			min-width: 250px;
		}
	}
	.back {
		@extend .medium-text;
		font-style: italic;
		font-weight: 500;
		color: $gray;
		display: inline-block;
		@include trailer($font-size: map-get(map-get($text-map, medium), font-size), $lines: 3);
		@include mobile-only {
			@include trailer($font-size: map-get(map-get($mobile-text-map, medium), font-size), $lines: 2);
		}
		&:before {
			content: "←";
			display: inline-block;
			margin-right: .5em;
		}
	}
	.header {
		.title {
			@extend .extra-large-text;
			font-weight: 600;
			@include trailer($font-size: map-get(map-get($text-map, extra-large), font-size), $lines: 5);
			@include mobile-only {
				@include trailer($font-size: map-get(map-get($mobile-text-map, extra-large), font-size), $lines: 2);
			}
		}
		.blurb {
			color: $color-body-text-gray;
			font-style: italic;
			font-weight: 300;
		}
	}
	.section-header {
		font-weight: 800;
    font-family: Brandon;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @include mobile-only {
    	font-size: 1rem;
    	margin-bottom: 0.25rem;
    	padding-top: 0;
    }
	}
}

// project detail

.project {
	#next, #previous {
		font-size: 1rem;
		font-weight: 500;
		color: $gray;
		position: fixed;
		top: 50vh;
		margin-top: -2.5rem;
		text-transform: uppercase;
		z-index: 10;
		&[data-active="false"] {
			display: none;
		}
		@include mobile-only {
			display: none !important;
		}
		svg {
			@include transform(scale(1.25));
			margin-top: 0.5rem;
			@include square(30px);
			position: relative !important;
			path {
				stroke: none !important;
				@include transition(all $transition-duration);
				fill: #dcdcdc;
			}
		}
		&:hover {
			.project-preview {
				opacity: 1;
			}
			path {
				fill: $dark-blue;
			}
		}
		.project-preview {
			opacity: 0;
			color: $dark-blue;
			@include transition(opacity $transition-duration);
		}
	}
	#next {
		text-align: right;
		right: 1rem;
		.project-preview {
			padding-right: 0.35rem;
		}
	}
	#previous {
		text-align: left;
		left: 1rem;
		.project-preview {
			padding-left: 0.35rem;
		}
	}
	.project-contents {
		@include leader(15);
		@include trailer(10);
	}
	.caption {
		@extend .body-small-text;
		font-weight: 300;
		color: $color-body-text-gray;
		font-style: italic;
		@include trailer(15);
		@include mobile-only {
			@include trailer(10);
		}
	}
	.description {
		@extend .body-medium-text;
		text-align: left;
		line-height: 1.7;
		a {
			color: $blue;
			@include transition(all 250ms);
			&:hover {
				color: $pale-blue;
			}
		}
	}
}

.project, 
#homepage {
	.header {
		.title {
			text-transform: uppercase;
		}
		.blurb {
			@extend .body-medium-text;
		}		
	}
}

// top animation

$frame-count: 24;
$frame-width: 256px;
$frame-height: 397px;

#homepage {
	#top-container {
		margin: 0 auto;
		text-align: center;
		@include leader(12);
		position: relative;
		@include mobile-only {
			@include leader(8);
		}
	}
	#top {
		margin: 0 auto;
		@include size($frame-width, $frame-height);
		background-image: url(../images/top.jpg);
		background-size: $frame-count * $frame-width $frame-height;
		@include mobile-only {
			@include size(179px, 293px);
			background-image: url(../images/top_mobile.jpg);
			background-size: $frame-count * 179px 293px;
		}
	}
	#shadow {
		@include size(360px, 103px);
		background-image: url(../images/shadow.png);
		top: 353px;
		margin-left: -10px;
		@include mobile-only {
			@include size(253px, 72px);
			background-image: url(../images/shadow_mobile.png);
			top: 250px;
			margin-left: -3px;
		}
		position: absolute;
		left: 50%;
	}
}
