@import "compass";
@import "library";
@import "vars";
@import "projects";

@include establish-baseline;

$text-map: (
	small: (
		font-size: 16px,
		lines: 4
	),
	medium: (
		font-size: 24px,
		lines: 6
	),
	large: (
		font-size: 36px,
		lines: 9
	),
	extra-large: (
		font-size: 54px,
		lines: 12
	)
);

@each $text-size, $text in $text-map {
	.#{$text-size}-text {
		@include adjust-font-size-to(map-get(map-get($text-map, $text-size), font-size), map-get(map-get($text-map, $text-size), lines));
	}
}

body {
	font-family: Brandon;
	text-align: center;
	font-weight: 500;
	padding: 0;
	margin: 0;
	@extend .small-text;
	color: $dark-blue;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

* {
	@include box-sizing(border-box);
}

#menu_wrapper {
	
	@include trailer(20);
	background: $color-background;
	#menu {
		text-transform: uppercase;
		.link {
			color: white;
			display: inline-block;
			position: relative;
			@extend .small-text;
			font-weight: 500;
			@include padding-leader($lines: 6, $font-size: map-get(map-get($text-map, small), font-size));
			@include padding-trailer($lines: 6, $font-size: map-get(map-get($text-map, small), font-size));
			padding-left: rhythm($lines: 3, $font-size: map-get(map-get($text-map, small), font-size));
			padding-right: rhythm($lines: 3, $font-size: map-get(map-get($text-map, small), font-size));
			&.active {
				font-weight: 500;
				position: relative;
				background: rgba(white, .25);
			}
		}
	}
}

nav {
	width: $content-width;
	margin: 0 auto;
	li {
		@include trailer(15);
		&:not(:last-of-type) {
			border-bottom-color: lighten($gray, 20%);
			@include trailing-border($lines: 15, $border-style: dotted);
		}
		.title {
			@extend .large-text;
			color: $dark-blue;
			font-weight: 600;
			text-transform: uppercase;
			@include trailer($font-size: map-get(map-get($text-map, large), font-size), $lines: 4)
		}
		.description {
			@extend .medium-text;
			color: $gray;
			font-weight: 400;
			font-style: italic;
		}
	}
}

// project detail

.project {

	@include padding-trailer($lines: 20);
	
	.back {
		font-style: italic;
		font-weight: 500;
		color: $gray;
		display: inline-block;
		@include trailer($lines: 1);
		&:before {
			content: "←";
			display: inline-block;
			margin-right: .5em;
		}
	}
	
	.header,
	.caption,
	.description {
		width: $content-width;
		margin: 0 auto;
	}
	.header {

		.title {
			@extend .extra-large-text;
			font-weight: 600;
			text-transform: uppercase;
			@include trailer($font-size: map-get(map-get($text-map, extra-large), font-size), $lines: 8);
		}
		.blurb {
			color: $gray;
			font-style: italic;
			@extend .medium-text;
		}
	}

	.project-contents {
		
		@include leader(15);
		@include trailer(10);
		
	}
	
	.caption {
			color: $gray;
			font-style: italic;
			@include trailer(20);
		}

	.description {
		@extend .medium-text;
	}

}

// top animation

$frame-count: 24;
$duration: 2s;
$frame-width: 341px;
$frame-height: 559px;

@include keyframe (top) {
	from {
		background-position: 0 0;
	}
	to {
		background-position: $frame-count * $frame-width * -1 0px;
	}
}

#homepage {
	text-align: center;
	h1 {
		@extend .extra-large-text;
		font-weight: 600;
		text-transform: uppercase;
	}
	#top {
		@include transform(scale(0.75, 0.75));
		margin: 0 auto;
		@include size($frame-width, $frame-height);
		background-image: url(../images/top.png);
		background-size: $frame-count * $frame-width $frame-height;
		// @include animation(top $duration steps($frame-count) infinite);
	}
	position: relative;
	&:before {
		content: "";
		background-image: url(../images/1.JPG);
		width: 1028px;
		height: 377px;
		display: block;
		position: absolute;
		z-index: -1;
		@include transform(scale(0.35, 0.35));
		left: 630px;
		top: 350px;
	}
}








