%linked-project-page {
  .project-contents {
    @include leader(8);
    @include trailer(4);
  }
  .caption {
    @include trailer(14);
  }
  .cta-main {
    font-weight: 800;
    font-family: Brandon;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: underline;
    color: $dark-blue;
  }
}

%video-project-page {
  @extend %linked-project-page;
  .title a {
    color: $dark-blue;
    display: inline-block;
    border-bottom: solid 1px $dark-blue;
  }
  .chrome {
    border: solid 1px #ddd;
    border-radius: 7px;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    min-width: 300px;
    .chrome-controls {
      line-height: 0;
      padding: 0.5rem 0 0.55rem 0.5rem;
      text-align: left;
      background: #ddd;
      .close, .min, .max {
        border-radius: 50%;
        display: inline-block;
        margin-right: 0.5rem;
        @include square(0.55rem);
        background: rgba(white, 0.8);
      }
    }
    .contents {
      position: relative;
      overflow: hidden;
      border-radius: 0 0 7px 7px;
    }
    video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    margin-bottom: 1rem;
    position: relative;
    &:after {
      content: "";
      background: #ddd;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 1.8rem);
      height: 1px;
      @include mobile-only {
        top: calc(100% + 1.4rem);
      }
    }
    @include mobile-only {
      .chrome-controls {
        padding: 0.25rem 0 0.3rem 0.35rem;
        .close, .min, .max {
          margin-right: 0.35rem;
          @include square(0.3rem);
        }
      }
    }
  }
  .caption {
    @extend .body-medium-text;
    margin-bottom: 5.5rem;
    font-style: normal;
    .loading, [class*="caption"] {
      @include transition(opacity $transition-duration); position: absolute;
      left: 50%;
      display: inline-block;
      text-align: center;
      @include transform(translateX(-50%));
      background-color: white;
      &:before {
        content: "";
        z-index: -1;
        background: white;
        left: -1rem;
        right: -1rem;
        top: 0;
        bottom: 0;
        display: block;
        position: absolute;
      }
    }
    [class*="caption"] {
      opacity: 0;
    }
  }
  @for $i from 0 through 10 { // 10 is max number of items that could exist in infobox
    .caption[data-active-caption="#{$i}"] {
      .caption-#{$i} {
        opacity: 1;
      }
      .loading {
        opacity: 0;
      }
    }
  }
}

