<div class="log" id="log-{{title}}">
	<div class="header">
		<div class="title">{{title}}</div>
	</div>
	<div class="log-contents">
		{{{logContents}}}
		<canvas id="fft"></canvas>
		<canvas id="letters" ></canvas>
		<div id="audio"></div>
	</div>
</div>
