<div class="log" id="log-{{title}}">

	<a href="#log" class="back">back</a>
	<div class="log-contents">
		{{{logContents}}}
		<canvas id="fft"></canvas>
		<canvas id="letters" ></canvas>
		<div id="audio"></div>
		<div id="controls">
			<div id="toggler"></div>
			<div id="time">
				<div class="elapsed"></div>
				/
				<div class="total"></div>
			</div>
		</div>
	</div>
</div>
