<div class="log" id="log-{{title}}">

	<a href="#log" class="back">back</a>
	<div class="header">
		<div class="title">01/02</div>
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, labore!</div>
	</div>
	<div class="log-contents">
		{{{logContents}}}
		<div class="canvas-wrapper">
			<canvas id="fft"></canvas>
			<canvas id="letters" ></canvas>
		</div>
		<div id="audio"></div>
		<div id="controls">
			<div id="toggler"></div>
			<div id="time">
				<div class="elapsed"></div>
				/
				<div class="total"></div>
			</div>
		</div>
	</div>
</div>
