<nav>
  <div class="explanation">This is a log of my media consumption.</div>
	{{#each this}}
	    <li>
	    	<a href="#log/{{title}}">
	    		<div class="title">{{title}}</div>
	    		<div class="description">&mdash; {{description}} &mdash;</div>
    		</a>
	    </li>
    {{/each}}
</nav>