<div class="log" id="log-{{title}}">
	<a href="#log" class="back">back</a>
	<div class="log-contents">
		{{{logContents}}}
		<div class="canvas-wrapper">
			<canvas id="fft"></canvas>
			<canvas id="letters" ></canvas>
		</div>
		<div class="header">
			<div class="slider">
				<div class="label">Guilt: </div>
				<div class="bar">
					<div style="left: 20%;" class="highlight"></div>
				</div>
			</div>
		</div>
		<div id="audio"></div>
		<div id="controls">
			<a href="#log/{{previous}}" id="previous"><svg><path d="M21.871,9.814 15.684,16.001 21.871,22.188 18.335,25.725 8.612,16.001 18.335,6.276z"></path></svg></a>
			<div class="playing" id="toggler">
				<svg>
					<path id="play_path" d="M11.166,23.963L22.359,17.5c1.43-0.824,1.43-2.175,0-3L11.166,8.037c-1.429-0.826-2.598-0.15-2.598,1.5v12.926C8.568,24.113,9.737,24.789,11.166,23.963z"></path>
					<path id="pause_path" d="M5.5,5.5h20v20h-20z"></path>
				</svg>
			</div>
			<a href="#log/{{next}}" id="next"><svg><path d="M10.129,22.186 16.316,15.999 10.129,9.812 13.665,6.276 23.389,15.999 13.665,25.725z"></path></svg></a>
		</div>
	</div>
</div>
