<div class="log" id="log-{{title}}">
	<a href="#log" class="back">back</a>
	<div class="log-contents">
		{{{logContents}}}
		<div class="canvas-wrapper">
			<canvas id="fft"></canvas>
			<canvas id="letters" ></canvas>
		</div>
		<div class="header">
			<div class="slider">
				<div class="label">Guilt: </div>
				<div class="bar">
					<div style="left: 20%;" class="highlight"></div>
				</div>
			</div>
		</div>
		<div id="audio"></div>
		<div id="controls">
			{{#if previous}}
				<a href="#log/{{previous}}" id="previous"><svg><path d="M21.871,9.814 15.684,16.001 21.871,22.188 18.335,25.725 8.612,16.001 18.335,6.276z"></path></svg></a>
			{{/if}}
			<div id="toggler"></div>
			<div id="time">
				<div class="elapsed">0</div>
				/
				<div class="total"></div>
			</div>
			{{#if next}}
				<a href="#log/{{next}}" id="next"><svg><path d="M10.129,22.186 16.316,15.999 10.129,9.812 13.665,6.276 23.389,15.999 13.665,25.725z"></path></svg></a>
			{{/if}}
		</div>
	</div>
</div>
