<nav id="project_index">
	{{#each this}}
	    <li data-project-id={{title}}>
	    	<a href="#projects/{{title}}">
	    		<div class="image"></div>
	    		<div class="title">
	    			{{title}}
	    		</div>
	    		<div class="description">
	    			{{description}}
	    		</div>
    		</a>
	    </li>
    {{/each}}
</nav>