<nav>
	{{#each this}}
	    <li>
	    	<a href="#projects/{{title}}">
	    		<div class="title">
	    			{{title}}
	    		</div>
	    		<div class="description">
	    			{{description}}
	    		</div>
    		</a>
	    </li>
    {{/each}}
</nav>