<div class="project" id="project-pixels">
	
	<div class="header">
		<div class="title">Hello</div>
		<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, perspiciatis!</div>
	</div>
	<div class="project-contents">
		<div id="border">
		  <div id="movie"></div>
		</div>
		<div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, cumque!</div>
	</div>
	<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veritatis consequatur suscipit labore minima quisquam numquam nemo harum, inventore laboriosam.</div>

</div>