<div class="project">
	
	<div class="header">
		<div class="title">{{title}}</div>
		<div class="blurb">{{blurb}}</div>
	</div>
	<div class="project-contents">
		<canvas></canvas>
		<div class="caption">{{caption}}</div>
	</div>
	<div class="description">{{description}}</div>
	
</div>